<div class="jumbotron">
  <%= image_tag image %>
  <div class="container">
    <h2>
      <% text.each do |t| %>
      <span class="highlight"><%= t %></span>
      <br />
      <% end %>
    </h2>
  </div>
</div>
