<h3>2017 Membership Fees<br /><small>valid through 12/31/2017</small></h3>
<table class="table">
  <thead>
    <tr><!-- Row 1 -->
       <th>Yearly Membership</th><!-- Col 1 -->
       <th align="right">Fee</th><!-- Col 2 -->
    </tr>
  </thead>
  <tbody>
    <tr><!-- Row 2 -->
       <td>Student (Under 26 Years)</td><!-- Col 1 -->
       <td align="right">$60.00</td><!-- Col 2 -->
    </tr>
    <tr><!-- Row 3 -->
       <td>Individual</td><!-- Col 1 -->
       <td align="right">$75.00</td><!-- Col 2 -->
    </tr>
    <tr><!-- Row 3 -->
       <td>Individual (3 yr.)</td><!-- Col 1 -->
       <td align="right">$200.00</td><!-- Col 2 -->
    </tr>
    <tr><!-- Row 4 -->
       <td>Family (Two Adults)</td><!-- Col 1 -->
       <td align="right">$125.00</td><!-- Col 2 -->
    </tr>
    <tr><!-- Row 4 -->
       <td>Family (3 yr.)</td><!-- Col 1 -->
       <td align="right">$350.00</td><!-- Col 2 -->
    </tr>
    <tr><!-- Row 5 -->
       <td class="indent">Additional Family Member Under 18 Years</td><!-- Col 1 -->
       <td align="right">$20.00</td><!-- Col 2 -->
    </tr>
    <tr><!-- Row 6 -->
       <td>Paddling Club</td><!-- Col 1 -->
       <td align="right">$175.00</td><!-- Col 2 -->
    </tr>
    <tr><!-- Row 7 -->
       <td>Sustaining</td><!-- Col 1 -->
       <td align="right">$250.00+</td><!-- Col 2 -->
    </tr>
  </tbody>
</table>