<%= render 'shared/jumbotron', :image => 'calendar_hero.jpg', :text => ['PNA', 'Calendar'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2 leftrail">
      <p>Check the <a href="javascript:void(0)">Coaches Page</a> for a list of Coaches who run BCU programs as well as other paddlesports training programs.</p>
      <h4>Course Notifications and Calendar Listings</h4>
      <p>Coaches can submit official PNA trainings and assessments to be listed. For instructions on submiting a course, click <a href="javascript:void(0)">here.</a></p>
    </div>

    <div class="col-md-7">
      <section id="jan">
        <h2>January 2014 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">January 23 - 24</td>
              <td data-title="Program">4 Star Sea Leader Assessment</td>
              <td data-title="Location">CA </td>
              <td data-title="Coach or Center"><a href="http://www.ggsks.com/" class="B">Golden Gate Sea Kayak Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">January 25</td>
              <td data-title="Program">Coastal Navigation &amp; Tidal Planning</td>
              <td data-title="Location">CA </td>
              <td data-title="Coach or Center"><a href="http://www.ggsks.com/" class="B">Golden Gate Sea Kayak Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">January 26-27</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">CA </td>
              <td data-title="Coach or Center"><a href="http://www.ggsks.com/" class="B">Golden Gate Sea Kayak Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">January 28</td>
              <td data-title="Program">Open Water Navigation &amp; Tidal Planning</td>
              <td data-title="Location">CA </td>
              <td data-title="Coach or Center"><a href="http://www.ggsks.com/" class="B">Golden Gate Sea Kayak Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">January 29-30</td>
              <td data-title="Program">5 Star Sea Leader Training</td>
              <td data-title="Location">CA </td>
              <td data-title="Coach or Center"><a href="http://www.ggsks.com/" class="B">Golden Gate Sea Kayak Symposium</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="feb">
        <h2>February 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="mar">
        <h2>March 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="apr">
        <h2>April 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">April 2</td>
              <td data-title="Program">2 Star Assessment</td>
              <td data-title="Location">WA </td>
              <td data-title="Coach or Center"><a href="http://http://www.bodyboatblade.com/" class="B">Body Boat Blade</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 5</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">Mexico </td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com/womens.html" class="B">Bonnie A. Perry</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 6-8</td>
              <td data-title="Program">Coastal Navigation &amp; Tidal Planning</td>
              <td data-title="Location">WA </td>
              <td data-title="Coach or Center"><a href="http://http://www.bodyboatblade.com/" class="B">Body Boat Blade</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 13</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">IL </td>
              <td data-title="Coach or Center"><a href="http://www.allsaintschicago.org" class="B">Bonnie A. Perry</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 14</td>
              <td data-title="Program">2 Star Training </td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 13-15</td>
              <td data-title="Program">4 Star Sea Leadership Training</td>
              <td data-title="Location">WA </td>
              <td data-title="Coach or Center"><a href="http://http://www.bodyboatblade.com/" class="B">Body Boat Blade</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 19</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 21</td>
              <td data-title="Program">2 Star Assessmnet </td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 21</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training</td>
              <td data-title="Location">IL </td>
              <td data-title="Coach or Center"><a href="http://summitsportsoutdoors.com/" class="B">Summit Sports Outdoors</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 20</td>
              <td data-title="Program">2 Star Performance</td>
              <td data-title="Location">IL </td>
              <td data-title="Coach or Center"><a href="http://summitsportsoutdoors.com/" class="B">Summit Sports Outdoors</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 27</td>
              <td data-title="Program">4 Star Leader Training</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 2-3</td>
              <td data-title="Program">4 Star Sea Leader Training </td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">April 29</td>
              <td data-title="Program">Coastal Navigation &amp; Tidal Planning</td>
              <td data-title="Location">NS Canada </td>
              <td data-title="Coach or Center"><a href="http://www.committed2thecore.com" class="B">Committed 2 the core</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="may">
        <h2>May 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">May 1</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 2-3</td>
              <td data-title="Program">4 Star Sea Leader Training </td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 3</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training</td>
              <td data-title="Location">WA </td>
              <td data-title="Coach or Center"><a href="http://http://www.bodyboatblade.com/" class="B">Body Boat Blade</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 4-5</td>
              <td data-title="Program">Coach Level 1</td>
              <td data-title="Location">WA </td>
              <td data-title="Coach or Center"><a href="http://http://www.bodyboatblade.com/" class="B">Body Boat Blade</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 4</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 5</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 19</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 21-24</td>
              <td data-title="Program">Level 1</td>
              <td data-title="Location">IL</td>
              <td data-title="Coach or Center"><a href="http://summitsportsoutdoors.com/" class="B">Summit Sports Outdoors</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 25-26</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">MI</td>
              <td data-title="Coach or Center"><a href="http://www.allsaintschicago.org" class="B">Bonnie A. Perry</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 27</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">MI </td>
              <td data-title="Coach or Center"><a href="http://www.wmcka.org/symposium.php" class="B">Bonnie A. Perry</a></td>
            </tr>
            <tr>
              <td data-title="Date">May 28-31</td>
              <td data-title="Program">Level 2 Training</td>
              <td data-title="Location">IL</td>
              <td data-title="Coach or Center"><a href="http://summitsportsoutdoors.com/" class="B">Summit Sports Outdoors</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="june">
        <h2>June 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">June 15</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">June 16</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">June 29-30</td>
              <td data-title="Program">3 Star Sea Training </td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">June 29</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training</td>
              <td data-title="Location">WA </td>
              <td data-title="Coach or Center"><a href="http://www.locoroundup.com" class="B">Columbia River Kayaking</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="july">
        <h2>July 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">July 10</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 11-12</td>
              <td data-title="Program">4 Star Sea Leader Training </td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 12-13</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">WI</td>
              <td data-title="Coach or Center"><a href="http://www.paddlers.com/everyonepaddles/class.asp?clid=1142" class="B">Bonnie A. Perry</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 19</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 21</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 25</td>
              <td data-title="Program">Open Water Navigation</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 26</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 27</td>
              <td data-title="Program">2 Star Assessmnet </td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 28</td>
              <td data-title="Program">3 Star Sea Assessmnet </td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 27-28</td>
              <td data-title="Program">4 Star Sea Leader Training </td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">July 29</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="aug">
        <h2>August 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">August 15-16</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">MI</td>
              <td data-title="Coach or Center"><a href="http://www.ladiesofthelakeseakayaksymposium.com" class="B">Bonnie A. Perry</a></td>
            </tr>
            <tr>
              <td data-title="Date">August 20-23</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">ON, Canada</td>
              <td data-title="Coach or Center"><a href="http://www.naturallysuperior.com/instruction-and-certification/kayak-courses/bcu-3-star.html" class="B">Bonnie A. Perry</a></td>
            </tr>
            <tr>
              <td data-title="Date">August 24</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">MI</td>
              <td data-title="Coach or Center"><a href="http://www.naturallysuperior.com/instruction-and-certification/kayak-courses/bcu-3-star.html" class="B">Bonnie A. Perry</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="sep">
        <h2>September 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
              <tr>
              <td data-title="Date">September 14-15</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
           <tr>
              <td data-title="Date">September 20</td>
              <td data-title="Program">Coastal Navigation &amp; Tidal Planning</td>
              <td data-title="Location">NS Canada </td>
              <td data-title="Coach or Center"><a href="http://www.committed2thecore.com" class="B">Committed 2 the core</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 24-25</td>
              <td data-title="Program">4 Star Leader Training</td>
              <td data-title="Location">NS Canada </td>
              <td data-title="Coach or Center"><a href="http://www.committed2thecore.com" class="B">Committed 2 the core</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 21</td>
              <td data-title="Program">3 Star Canoe Assessment</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.plattsburgh.edu/academics/exp/" class="B">Expeditionary Studies</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 21</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">NH</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
             <tr>
              <td data-title="Date">September 22</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">NC</td>
              <td data-title="Coach or Center"><p><a href="http://www.riverwindkayak.com" class="B">River Wind Sea Kayak</a></p></td>
            </tr>
            <tr>
              <td data-title="Date">September 22</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">NH</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
           <tr>
              <td data-title="Date">September 22</td>
              <td data-title="Program">3 Star WW Assessment</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.plattsburgh.edu/academics/exp/" class="B">Expeditionary Studies</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 22</td>
              <td data-title="Program">Coaching the Mind</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.plattsburgh.edu/academics/exp/" class="B">Expeditionary Studies</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 23</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">CA</td>
              <td data-title="Coach or Center"><a href="http://www.liquidfusionkayak.com" class="B">Liquid Fusion Kayak</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 23-26</td>
              <td data-title="Program">Coach Level 1</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.plattsburgh.edu/academics/exp/" class="B">Expeditionary Studies</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 24</td>
              <td data-title="Program">Coaching Young People</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.plattsburgh.edu/academics/exp/" class="B">Expeditionary Studies</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 25-26</td>
              <td data-title="Program">4 star Sea Leader Training</td>
              <td data-title="Location">VA</td>
              <td data-title="Coach or Center"><a href="http://aqua-adventures.com/" class="B">Aqua Adventures</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 27</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">VA</td>
              <td data-title="Coach or Center"><a href="http://aqua-adventures.com/" class="B">Aqua Adventures</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 27</td>
              <td data-title="Program">Level 2 Assessment</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.plattsburgh.edu/academics/exp/" class="B">Expeditionary Studies</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 27</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">VA</td>
              <td data-title="Coach or Center"><a href="http://aqua-adventures.com/" class="B">Aqua Adventures</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 28-29</td>
              <td data-title="Program">4 Star Canoe Assessment</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.plattsburgh.edu/academics/exp/" class="B">Expeditionary Studies</a></td>
            </tr>
            <tr>
              <td data-title="Date">September 29</td>
              <td data-title="Program">3 Star Assessment</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a href="http://www.Nykayak.com" class="B">NY Kayak</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="oct">
        <h2>October 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <tr>
              <td data-title="Date">October 5-6</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 5-6</td>
              <td data-title="Program">4 Star WW Leader Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
             <tr>
              <td data-title="Date">October 7</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training</td>
              <td data-title="Location"><span id="OLK_SRC_BODY_SECTION">BCS,Mexico</span></td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com" class="B">Sea Kayak Baja Mexico</a></td>
            </tr>
             <tr>
              <td data-title="Date">October 8</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location"><span id="OLK_SRC_BODY_SECTION">BCS,Mexico</span></td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com" class="B">Sea Kayak Baja Mexico</a></td>
            </tr>
          <tr>
              <td data-title="Date">October 8-10</td>
              <td data-title="Program">4 Star Canoe Leader Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
              <tr>
              <td data-title="Date">October 9-11</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location"><span id="OLK_SRC_BODY_SECTION">BCS,Mexico</span></td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com" class="B">Sea Kayak Baja Mexico</a></td>
            </tr>
              <tr>
              <td data-title="Date">October 10</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><p><a href="http://www.riverwindkayak.com" class="B">River Wind Sea Kayak</a></p></td>
            </tr>
           <tr>
              <td data-title="Date">October 11</td>
              <td data-title="Program">Coach Update Day</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 11</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
              <tr>
              <td data-title="Date">October 12</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
           <tr>
              <td data-title="Date">October 12</td>
              <td data-title="Program">3 Star Canoe Training </td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 13</td>
              <td data-title="Program">3 Star Canoe Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 12-13</td>
              <td data-title="Program">4 Star Sea Leader Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 12-13</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 12</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 12</td>
              <td data-title="Program">2 Star Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 13</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 14-17</td>
              <td data-title="Program">Coach Level 1</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 12-13</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 14</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 14-15</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 16</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 14-17</td>
              <td data-title="Program">Level 2 Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 18</td>
              <td data-title="Program">Moderate Water Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 21</td>
              <td data-title="Program">Moderate Water Endorsement</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a href="http://www.aldercreek.com/" class="B">Alder Creek</a></td>
            </tr>
           <tr>
              <td data-title="Date">October 23</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
           <tr>
              <td data-title="Date">October 23</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 23</td>
              <td data-title="Program">Level 2 Assessment</td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 24</td>
              <td data-title="Program">3 Star Sea Assessment </td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 24-24</td>
              <td data-title="Program">4 Star Sea Leader Training </td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 24-27</td>
              <td data-title="Program">Level 2 Coach Training </td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 25</td>
              <td data-title="Program">3 Star Sea Assessment </td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 26</td>
              <td data-title="Program">3 Star Sea Assessment </td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 26-27</td>
              <td data-title="Program">4 Star Sea LeaderAssessment </td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 27</td>
              <td data-title="Program">3 Star Sea Assessment </td>
              <td data-title="Location">GA</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakgeorgia.com" class="B">Sea Kayak Georgia</a></td>
            </tr>
          <tr>
              <td data-title="Date">October 26-27</td>
              <td data-title="Program">4 Star Sea Leader Assessment</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 30</td>
              <td data-title="Program">3 Star Surf Training</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">October 31</td>
              <td data-title="Program">3 Star Surf Assessment</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="nov">
        <h2>November 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <tr>
              <td data-title="Date">November 1</td>
              <td data-title="Program">4 Star Surf Leader Training</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
           <tr>
              <td data-title="Date">November 2</td>
              <td data-title="Program">Open Water Navigation</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">November 3-4</td>
              <td data-title="Program">5 Star Sea Leader Training</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com/" class="B">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">November 5</td>
              <td data-title="Program">Coastal Navigation &amp; Tidal Planning</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
             <tr>
              <td data-title="Date">November 5</td>
              <td data-title="Program">Openwater Navigation</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
           <tr>
              <td data-title="Date">November 6-7</td>
              <td data-title="Program">4 Star Sea Leader Assessment</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">November 6-7</td>
              <td data-title="Program">5 Star Sea Leader Training</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com" class="B">Kayak Waveology</a></td>
            </tr>
              <tr>
              <td data-title="Date">November 18</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">FL</td>
              <td data-title="Coach or Center"><p><a href="http://www.riverwindkayak.com" class="B">River Wind Sea Kayak</a></p></td>
            </tr>
              <tr>
              <td data-title="Date">November 31-1</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">FL</td>
              <td data-title="Coach or Center"><p><a href="http://www.adventurespiritkayaking.com" class="B">Adventure Spirit Kayaking</a></p></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="dec">
        <h2>December 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <tr>
              <td data-title="Date">December 19</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">FL</td>
              <td data-title="Coach or Center"><p><a href="http://www.riverwindkayak.com" class="B">River Wind Sea Kayak</a></p></td>
            </tr>
            <tr>
              <td data-title="Date">December 22</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">CA</td>
              <td data-title="Coach or Center"><a href="http://www.liquidfusionkayak.com" class="B">Liquid Fusion Kayak</a></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276" data-offset-bottom="360">
        <ul class="nav">
          <li><a href="#jan">January</a></li>
          <li><a href="#feb">February</a></li>
          <li><a href="#mar">march</a></li>
          <li><a href="#apr">April</a></li>
          <li><a href="#may">May</a></li>
          <li><a href="#june">June</a></li>
          <li><a href="#july">July</a></li>
          <li><a href="#aug">August</a></li>
          <li><a href="#sep">September</a></li>
          <li><a href="#oct">October</a></li>
          <li><a href="#nov">November</a></li>
          <li><a href="#dec">December</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
