<%= render 'shared/jumbotron', :image => 'calendar_hero.jpg', :text => ['PNA', 'Calendar'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2 leftrail">
      <p>Check the <a href="/coaches">Coaches Page</a> for a list of Coaches who run BCU programs as well as other paddlesports training programs.</p>
      <h4>Course Notifications and Calendar Listings</h4>
      <p>Coaches can submit official PNA trainings and assessments to be listed. Please <a href="/contact">contact PNA for details</a>.</p>
    </div>

    <div class="col-md-7">
      <section id="jan">
        <h2>January 2014 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="feb">
        <h2>February 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="mar">
        <h2>March 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="apr">
        <h2>April 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="may">
        <h2>May 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="june">
        <h2>June 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="july">
        <h2>July 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="aug">
        <h2>August 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="sep">
        <h2>September 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="oct">
        <h2>October 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="nov">
        <h2>November 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="dec">
        <h2>December 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276" data-offset-bottom="360">
        <ul class="nav">
          <li><a href="#jan">January</a></li>
          <li><a href="#feb">February</a></li>
          <li><a href="#mar">march</a></li>
          <li><a href="#apr">April</a></li>
          <li><a href="#may">May</a></li>
          <li><a href="#june">June</a></li>
          <li><a href="#july">July</a></li>
          <li><a href="#aug">August</a></li>
          <li><a href="#sep">September</a></li>
          <li><a href="#oct">October</a></li>
          <li><a href="#nov">November</a></li>
          <li><a href="#dec">December</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
