<%= render 'shared/jumbotron', :image => 'calendar_hero.jpg', :text => ['PNA', 'Calendar'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2 leftrail">
      <p>Check the <a href="/coaches">Coaches Page</a> for a list of Coaches who run BCU programs as well as other paddlesports training programs.</p>
      <h4>Course Notifications and Calendar Listings</h4>
      <p>Coaches can submit official BCU trainings and assessments to be listed. Please <a href="/contact">contact PNA for details</a>.</p>
    </div>

    <div class="col-md-7">
      <!-- <section id="jan">
        <h2>January 2014 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="feb">
        <h2>February 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="mar">
        <h2>March 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="apr">
        <h2>April 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="may">
        <h2>May 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section> -->
      <!-- <section id="june">
        <h2>June 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section> -->
      <section id="july">
        <h2>July 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">13</td>
              <td data-title="Program">BCU 2 Star training and assessment</td>
              <td data-title="Location">MI</td>
              <td data-title="Coach or Center"><a href="http://thepowerofwater.net/play/paddling-school/bcu-courses/" target="_blank">The Power of Water</a></td>
            </tr>
            <tr>
              <td data-title="Date">14</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training (FSRT)</td>
              <td data-title="Location">MI</td>
              <td data-title="Coach or Center"><a href="http://thepowerofwater.net/play/paddling-school/bcu-courses/" target="_blank">The Power of Water</a></td>
            </tr>
            <tr>
              <td data-title="Date">15</td>
              <td data-title="Program">BCU 3 Star kayak training</td>
              <td data-title="Location">MI</td>
              <td data-title="Coach or Center"><a href="http://thepowerofwater.net/play/paddling-school/bcu-courses/" target="_blank">The Power of Water</a></td>
            </tr>
            <tr>
              <td data-title="Date">16</td>
              <td data-title="Program">BCU 3 Star kayak assessment</td>
              <td data-title="Location">MI</td>
              <td data-title="Coach or Center"><a href="http://thepowerofwater.net/play/paddling-school/bcu-courses/" target="_blank">The Power of Water</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="aug">
        <h2>August 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">1</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com" target="_blank">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">2 - 3</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com" target="_blank">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">10</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com" target="_blank">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">9</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">MD</td>
              <td data-title="Coach or Center"><a href="http://www.crosscurrentsseakayaking.com/#!home01" target="_blank">Cross Currents Sea Kayaking</a></td>
            </tr>
            <tr>
              <td data-title="Date">27</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com/" target="_blank">Kayak Waveology</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="sep">
        <h2>September 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">5 - 7</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">CA</td>
              <td data-title="Coach or Center"><a href="http://liquidfusionkayak.com" target="_blank">Liquid Fusion Kayaking</a></td>
            </tr>
            <tr>
              <td data-title="Date">6 - 7</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">RI</td>
              <td data-title="Coach or Center"><a href="http://www.kayakwaveology.com/" target="_blank">Kayak Waveology</a></td>
            </tr>
            <tr>
              <td data-title="Date">8</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">CA</td>
              <td data-title="Coach or Center"><a href="http://liquidfusionkayak.com" target="_blank">Liquid Fusion Kayaking</a></td>
            </tr>
            <tr>
              <td data-title="Date">17 - 18</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">VA</td>
              <td data-title="Coach or Center"><a href="http://www.crosscurrentsseakayaking.com/#!symposium" target="_blank">Kiptopeke Sea Kayaking Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">19</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">VA</td>
              <td data-title="Coach or Center"><a href="http://www.crosscurrentsseakayaking.com/#!symposium" target="_blank">Kiptopeke Sea Kayaking Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">20 - 21</td>
              <td data-title="Program">3 Star Sea Training</td>
              <td data-title="Location">VA</td>
              <td data-title="Coach or Center"><a href="http://www.crosscurrentsseakayaking.com/#!symposium" target="_blank">Kiptopeke Sea Kayaking Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">27</td>
              <td data-title="Program">Coaching The Mind</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">27 - 28</td>
              <td data-title="Program">4 Star WW Kayak Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">28</td>
              <td data-title="Program">3 Star Sea Kayak Assessment</td>
              <td data-title="Location">NY</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.tainokanoa.com">Taino Almestica</a></td>
            </tr>
            <tr>
              <td data-title="Date">29</td>
              <td data-title="Program">Coastal Navigation & Tidal Planning</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">29 - 2</td>
              <td data-title="Program">BCU UKCC Coach Level 2 Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">29</td>
              <td data-title="Program">3 Star Canoe Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">30</td>
              <td data-title="Program">3 Star Canoe Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">30 - 1</td>
              <td data-title="Program">4 Star Canoe Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <!-- <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr> -->
          </tbody>
        </table>
      </section>
      <section id="oct">
        <h2>October 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">1 - 3</td>
              <td data-title="Program">4 Star Canoe Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">2 - 3</td>
              <td data-title="Program">4 Star Sea Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">3</td>
              <td data-title="Program">Coastal Navigation &amp; Tidal Planning</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">3</td>
              <td data-title="Program">3 Star Whitewater Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">4 - 5</td>
              <td data-title="Program">4 Star Sea Leader Assessment</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com" target="_blank">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">4 - 6</td>
              <td data-title="Program">3 Star Sea Training &amp; Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">4 - 5</td>
              <td data-title="Program">4 Star WW Kayak Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">4</td>
              <td data-title="Program">Coaching The Mind</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">4</td>
              <td data-title="Program">Open Water Navigation</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">4 - 5</td>
              <td data-title="Program">4 Star Sea Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">5</td>
              <td data-title="Program">2 Star Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">5</td>
              <td data-title="Program">Foundation Safety and Rescue Training</td>
              <td data-title="Location">MX</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.seakayakbajamexico.com/seapaddlertraining.html">Sea Kayak Baja Mexico</a></td>
            </tr>
            <tr>
              <td data-title="Date">6</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">MX</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.seakayakbajamexico.com/seapaddlertraining.html">Sea Kayak Baja Mexico</a></td>
            </tr>
            <tr>
              <td data-title="Date">6</td>
              <td data-title="Program">3 Star Surf Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">6 - 7</td>
              <td data-title="Program">Whitewater Safety & Rescue Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">6 - 7</td>
              <td data-title="Program">5 Star Sea Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">6 - 9</td>
              <td data-title="Program">BCU UKCC Coach Level 1 Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">7</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.autumngales.com/">Autumn Gales Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">8</td>
              <td data-title="Program">3 Star Sea Kayak Assessment</td>
              <td data-title="Location">MX</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.seakayakbajamexico.com/seapaddlertraining.html">Sea Kayak Baja Mexico</a></td>
            </tr>
            <tr>
              <td data-title="Date">8 - 9</td>
              <td data-title="Program">5 Star Sea Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">8 - 9</td>
              <td data-title="Program">4 Star Sea Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">8 - 9</td>
              <td data-title="Program">4 Star Sea Leader Assessment</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.autumngales.com/">Autumn Gales Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">9</td>
              <td data-title="Program">BCU UKCC Coach Level 2 Assessment</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">10</td>
              <td data-title="Program">Open Water Navigation</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.autumngales.com/">Autumn Gales Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">10 - 11</td>
              <td data-title="Program">5 Star Sea Leader Training</td>
              <td data-title="Location">CT</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://www.autumngales.com/">Autumn Gales Symposium</a></td>
            </tr>
            <tr>
              <td data-title="Date">13</td>
              <td data-title="Program">Foundation Safety &amp; Rescue Training</td>
              <td data-title="Location">OR</td>
              <td data-title="Coach or Center"><a target="_blank" href="http://aldercreek.com/">Alder Creek</a></td>
            </tr>
            <tr>
              <td data-title="Date">15 - 16</td>
              <td data-title="Program">3 Star Sea Kayak Assessment</td>
              <td data-title="Location">NS</td>
              <td data-title="Coach or Center"><a href="http://www.riverwindkayak.com/nova-scotia" target="_blank">Riverwind Kayak</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="nov">
        <h2>November 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Date">7</td>
              <td data-title="Program">Open Water Navigation</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com" target="_blank">Sea Cliff Kayakers</a></td>
            </tr>
            <tr>
              <td data-title="Date">8 - 9</td>
              <td data-title="Program">5 Star Sea Leader Training</td>
              <td data-title="Location">ME</td>
              <td data-title="Coach or Center"><a href="http://www.seacliffkayakers.com" target="_blank">Sea Cliff Kayakers</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="dec">
        <h2>December 2014</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td data-title="Date"></td>
              <td data-title="Program"></td>
              <td data-title="Location"></td>
              <td data-title="Coach or Center"></td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- START 2015 -->
      <section id="dec">
        <h2>February 2015</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Program</th>
              <th>Location</th>
              <th>Coach / Center</th>
            </tr>
          </thead>
          <tbody>
           <tr>
              <td data-title="Date">5</td>
              <td data-title="Program">3 Star Sea Assessment</td>
              <td data-title="Location">NZ</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com/nzadventures.html" target="_blank">Ginni Callahan</a></td>
            </tr>
            <tr>
              <td data-title="Date">6</td>
              <td data-title="Program">Foundation Safety and Rescue Training</td>
              <td data-title="Location">NZ</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com/nzadventures.html" target="_blank">Ginni Callahan</a></td>
            </tr>
            <tr>
              <td data-title="Date">7</td>
              <td data-title="Program">Coastal Navigation and Tidal Planning</td>
              <td data-title="Location">NZ</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com/nzadventures.html" target="_blank">Ginni Callahan</a></td>
            </tr>
            <tr>
              <td data-title="Date">10 - 13</td>
              <td data-title="Program">4 Star Sea Leader Training</td>
              <td data-title="Location">NZ</td>
              <td data-title="Coach or Center"><a href="http://www.seakayakbajamexico.com/nzadventures.html" target="_blank">Ginni Callahan</a></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276" data-offset-bottom="360">
        <ul class="nav">
          <!-- <li><a href="#jan">January</a></li>
          <li><a href="#feb">February</a></li>
          <li><a href="#mar">march</a></li>
          <li><a href="#apr">April</a></li>
          <li><a href="#may">May</a></li> -->
          <!-- <li><a href="#june">June</a></li> -->
          <li><a href="#july">July</a></li>
          <li><a href="#aug">August</a></li>
          <li><a href="#sep">September</a></li>
          <li><a href="#oct">October</a></li>
          <li><a href="#nov">November</a></li>
          <li><a href="#dec">December</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
