<%= render 'shared/jumbotron', :image => 'hero-contact.jpg', :text => ['Contact Us'] %>


<div class="container body-copy">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <p>hi</p>
    </div>

    <div class="col-md-4">



    </div>
  </div>
</div>
