  <div class="top-bar">
    <div class="container">
      <h1 class="logo"><span class="seo">Paddlesports North America</span></h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</p>

      <form action="http://paddlesportsnorthamerica.us3.list-manage.com/subscribe/post?u=9ad1ead2036a1daef49b384b7&amp;id=6ddcbe8248" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_9ad1ead2036a1daef49b384b7_6ddcbe8248" value=""></div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
        <label for="EMAIL">Sign up for our newsletter to recieve the latest announcements from PNA.</label>
      </form>

      <div class="row sponsors">
        <div class="col-md-3">
          <a href="http://www.wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'werner-white.png' %></a>
        </div>

        <div class="col-md-3">
          <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'ph-white.png' %></a>
        </div>

        <div class="col-md-3">
          <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'akt-white.png' %></a>
        </div>

        <div class="col-md-3">
          <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'valley-white.png' %></a>
        </div>
      </div>

    </div>
  </div>

  <div class="body-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Welcome to Paddlesports North America!</h2>
          <p> The PNA Board is excited to announce that Paddlesports North America (PNA) is newly incorporated in New York State as a not-for-profit organization, and on the cusp of finalizing its relationship with the <a href="http://www.bcu.org.uk" target="_blank">British Canoe Union (BCU)</a> as the delivery center for BCU programming in the United States, Canada and Mexico.</p>
          <p>This website will be up shortly, and will contain all information needed by paddlers and coaches to progress through the BCU’s paddlesport system, which is recognized as the gold standard in paddlesport training and education. In the meantime, there will be no interruption in the processing of memberships, awards and certifications. Until our status with the BCU is finalized, Bill Lozano, the current BCUNA administrator, will continue handling all paperwork through the BCUNA office in New York. Contact the BCUNA office by visiting <a href="http://www.bcuna.com" target="_blank">bcuna.com</a></p>
        </div>
      </div>
    </div>
  </div>


  <div class="subfooter">
    <div class="container">
      &copy; 2014 Paddlesports North America
    </div>
  </div>

