<%= render 'shared/jumbotron', :image => 'hero-membership.jpg', :text => ['Membership'] %>


<div class="container body-copy">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="semi-lead">The British Canoe Union is recognized around the world as the gold standard in paddlesports training and education. Paddlesports North America is working with the BCU to become the North American delivery center for BCU programs, and will be responsible for administering BCU programs in Canada, Mexico and the United States.</p>
        <p class="semi-lead">We are working on a PNA Membership Program and more information will be available here soon.  In the meantime, please keep renewing your BCUNA membership.</p>
        <p class="semi-lead">To become a BCUNA  member, or to renew your membership, fill out the <a href="http://bcuna.com/PDF-Files/Membership/Membership-Form-2014.pdf">membership form</a> and send along with payment to:</p>
        <!-- <P>BCU memberships in North America are currently processed by <a href="http://bcuna.org" target="_blank">BCUNA</a> and all fees and paperwork should continue to go to BCUNA for the time being. After establishing our aggreement with the BCU, all BCUNA memberships will automatically transfer to Paddlesports North America.</p> -->
        <!-- <P>By becoming a member of PNA, you will not only get discounts on fees for BCU paddler and coaching awards in North America, but you help PNA make BCU training and education programs accessible to all. As we grow, we will provide additional benefits to members.</p> -->
    </div>
    <!-- <div class="col-md-4">
      <p>We are working on a PNA Membership Program and more information will be available here soon.  In the meantime, please keep renewing your BCUNA membership.</p>
      <p>To become a BCUNA  member, or to renew your membership, fill out the <a href="http://bcuna.com/PDF-Files/Membership/Membership-Form-2014.pdf">membership form</a> and send along with payment to:</p>
      <div itemscope itemtype="http://schema.org/Organization">
        <address itemprop="address">
          <strong itemprop="name">BCUNA</strong><br />
           320 W. Saugerties Rd.<br />
           Saugerties, New York 12477<br />
        </address>
        <p><strong>Make checks payable to:</strong><br /> <em>Sea Kayaking International</em></p>
      </div>
    </div> -->
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-4 col-md-offset-2">
      <div itemscope itemtype="http://schema.org/Organization" class="lead">
        <address itemprop="address">
          <strong itemprop="name">BCUNA</strong><br />
           320 W. Saugerties Rd.<br />
           Saugerties, New York 12477<br />
        </address>
      </div>
    </div>
    <div class="col-md-4 lead">
      <p><strong>Make checks payable to:</strong><br /> <em>Sea Kayaking International</em></p>

    </div>
  </div>
</div>
