<%= render 'shared/jumbotron', :image => 'hero-membership.jpg', :text => ['Membership'] %>


<div class="container body-copy">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
        <p class="semi-lead">The British Canoe Union is recognized around the world as the gold standard in paddlesports training and education. As the North American delivery center for BCU programs, Paddlesports North America is responsible for administering BCU programs in Canada, Mexico and the United States. By becoming a member of PNA, you not only get discounts on fees for BCU paddler and coaching awards in North America, but you help PNA make BCU training and education programs accessible to all. As we grow, we will provide additional benefits to members.</p>
    </div>
    <div class="col-md-4">
      <p>To become a PNA member, or to renew your membership, fill out the <%= link_to 'membership form', s3_url('downloads/membership.pdf') %> and send along with payment to:</p>
      <div itemscope itemtype="http://schema.org/Organization">
          <address itemprop="address">
            <strong itemprop="name">Paddlesports North America, <abbr title="Incorporated">Inc.</abbr></strong><br />
             1228 1/2 North Washington<br />
             Lansing Michigan, 48906<br />
          </address>
          <p><strong>Make checks payable to:</strong><br /> <em>Paddlesports North America</em></p>
        </div>
        <%= link_to 'Download the PNA Membership Form', s3_url('downloads/membership.pdf'), :class => 'btn btn-large btn-success' %>
    </div>
  </div>
</div>
