<%= render 'shared/jumbotron', :image => 'hero-membership.jpg', :text => ['Membership'] %>


<div class="container body-copy">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
        <p class="semi-lead">The British Canoe Union is recognized around the world as the gold standard in paddlesports training and education. As the North American delivery center for BCU programs, Paddlesports North America is responsible for administering BCU programs in Canada, Mexico and the United States. By becoming a member of PNA, you not only get discounts on fees for BCU paddler and coaching awards in North America, but you help PNA make BCU training and education programs accessible to all. As we grow, we will provide additional benefits to members.</p>
    </div>
    <div class="col-md-4">
      <p>We are working on a PNA Membership Program and more information will be available here soon.  In the meantime, please keep renewing your BCUNA membership.</p>
      <p>To become a BCUNA  member, or to renew your membership, fill out the <a href="http://bcuna.com/PDF-Files/Membership/Membership-Form-2014.pdf">membership form</a> and send along with payment to:</p>
      <div itemscope itemtype="http://schema.org/Organization">
        <address itemprop="address">
          <strong itemprop="name">BCUNA</strong><br />
           320 W. Saugerties Rd.<br />
           Saugerties, New York 12477<br />
        </address>
        <p><strong>Make checks payable to:</strong><br /> <em>Sea Kayaking International</em></p>
      </div>
    </div>
  </div>
</div>
