<%= render 'shared/jumbotron', :image => 'hero-membership.jpg', :text => ['Membership'] %>


<div class="container body-copy">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="lead">British Canoeing, formerly known as the British Canoe Union, is recognized around the world as the gold standard in paddlesports training and education.  Paddlesports North America is now the official Delivery Center in North America and will be responsible for administering British Canoeing programs in Canada, Mexico and the United States.</p>
    </div>
    <!-- <div class="col-md-4">
      <p>We are working on a PNA Membership Program and more information will be available here soon.  In the meantime, please keep renewing your BCUNA membership.</p>
      <p>To become a BCUNA  member, or to renew your membership, fill out the <a href="http://bcuna.com/PDF-Files/Membership/Membership-Form-2014.pdf">membership form</a> and send along with payment to:</p>
      <div itemscope itemtype="http://schema.org/Organization">
        <address itemprop="address">
          <strong itemprop="name">BCUNA</strong><br />
           320 W. Saugerties Rd.<br />
           Saugerties, New York 12477<br />
        </address>
        <p><strong>Make checks payable to:</strong><br /> <em>Sea Kayaking International</em></p>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="well">
      <p class="lead"><strong>To become a PNA member, please complete the membership form below.</strong></p>

      <p><a class="btn btn-lg btn-success" href="<%= s3_url('downloads/membership.pdf') %>" target="_blank">Download the Membership Form</a></p>
    </div>
    </div>
    <div class="col-md-4">
      <p><strong>Please send all paperwork — including registration forms and fees — to PNA at:</strong></p>
      <%= render 'shared/pna_contact_info' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Currently, Paddlesports North America will only accept payment via a personal or business check payable in U.S. dollars and drawn on a U.S. bank, or via PayPal's credit card payment or transfer options. Please contact us at: <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a> if you would like to receive a PayPal invoice for membership and/or program services. We are investigating other payment mechanisms, and hope to make additional options available in the future.</p>
      <p><strong>Make checks payable to:</strong> Paddlesports North America. Please do not send cash through the mail!</p>
      <table class="table">
        <thead>
          <tr>
            <th colspan="5">PNA 2014 - 2015 Membership Fees</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Charter Member - Individual</td>
            <td align="right">$75</td>
          </tr>
          <tr>
            <td>Charter Member - Family<sup>1</sup></td>
            <td align="right">$125</td>
          </tr>
          <tr>
            <td>Charter Member - Paddling Club</td>
            <td align="right">$175</td>
          </tr>
          <tr>
            <td>Charter Member - Sustaining<sup>2</sup></td>
            <td align="right">$250</td>
          </tr>
          <tr>
            <td>Charter Member - Student<sup>3<br /><span class="small"><em>Under 26</em></span></td>
            <td align="right">$60</td>
          </tr>
        </tbody>
      </table>

        <p class="small italic"><sup>1</sup>Two adults (one or two adults or young persons), plus $20.00 for each child under 18 years of age. Family membership is open to the spouses/partners of Individual members and/or their children under 18.</p>
        <p class="small italic"><sup>2</sup>Sustaining member includes one (1) Individual membership.</p>
        <p class="small italic"><sup>3</sup>Applicant must certify that they are under 26 years old at the time of the application to qualify for the Student discounted rate.</p>


    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Anyone joining PNA before December 2015 will be considered a Charter Member. Current North American BCU members will automatically be Charter Members of PNA if they register for a new PNA membership before December 2015. Unexpired BCU memberships will be honored by the PNA. To take advantage of this free registration, submit a copy of your current BCU membership card along with your PNA Membership Application Form. Do not submit payment. PNA will advise you to renew when your current membership expires.</p>
      <p><em>Paddlesports North America is working on membership benefits at this time and will announce those soon.</em></p>
    </div>
  </div>
  <!-- <div class="row" style="margin-top:20px;">
    <div class="col-md-4 col-md-offset-2">
      <div itemscope itemtype="http://schema.org/Organization" class="lead">
        <address itemprop="address">
          <strong itemprop="name">BCUNA</strong><br />
           320 W. Saugerties Rd.<br />
           Saugerties, New York 12477<br />
        </address>
      </div>
    </div>
    <div class="col-md-4 lead">
      <p><strong>Make checks payable to:</strong><br /> <em>Sea Kayaking International</em></p>

    </div>
  </div> -->
</div>
