<%= render 'shared/jumbotron', :image => 'hero-membership.jpg', :text => ['Membership'] %>


<div class="container body-copy">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <p>hi</p>
    </div>
  </div>
</div>
