<%= render 'shared/jumbotron', :image => 'hero-paddlers.jpg', :text => ['PNA', 'Coaches'] %>
<div class="container body-copy">
  <div class="row">
    <div class="col-md-2" data-hook="sidebar">
      <!-- Left Sidebar -->

    </div><!-- ./sidebar -->

    <div class="col-md-7" data-hook="content">
      <!-- <section id="rco">
        <h2>Regional Coaching Officers</h2>
        <address>
          <strong>North East RCO</strong><br />
          Steven Maynard<br />
          Adirondack Experience<br />
          Plattsburgh State University<br />
          101 Broad Street<br />
          Plattsburgh, NY 12901<br />
          <a href="mailto:Steve@BCUNA.com" target="_blank">Steve@BCUNA.com</a>
        </address>
        <address>
          <strong>South East RCO</strong><br />
          Marsha Henson<br />
          <a href="mailto:Marsha@BCUNA.com" target="_blank">Marsha@BCUNA.com</a><br />
          Phone (912) 663-3169<br />
        </address>
        <address>
          <strong>Central US RCO</strong><br />
          Alec Bloyd-Peshkin<br />
          <a href="mailto:Alec@BCUNA.com" target="_blank">Alec@BCUNA.com</a><br />
          phone (708) 628-4598<br />
        </address>
        <address>
          <strong>West Coast RCO</strong><br />
          John Wallum<br />
          <a href="mailto:John@BCUNA.com" target="_blank">John@BCUNA.com</a><br />
          phone (360) 699-6447<br />
        </address>

        <p>The RCO is your primary source of information. If the RCO can’t immediately answer your question, the RCO will find out, or direct you to the person who will be able to provide an answer.</p>
        <p>All forms and other paperwork should be sent to PNA. Questions as to the status of paperwork in process should be directed to the PNA administrator.</p>
      </section> -->
      <sectiton id="alaska">
        <h2>Alaska</h2>
        <address>
          <strong>Tom Pogson</strong><br />
          Coach 4 Sea<br />
          A1* Sea Assessor, Canoe Safety Test Assessor<br />
          PO Box 3547<br />
          Homer, Alaska 99602<br />
          E-mail: <a href="mailto:info@alaskakayakschool.com" target="_blank">info@alaskakayakschool.com</a><br />
          <a href="http://www.alaskakayakschool.com" target="_blank">www.alaskakayakschool.com</a><br />
        </address>
        <address>
          <strong>Laura N. Pomeroy</strong><br />
          Coach Level 2 Kayak<br />
          P.O. Box 3547, Homer, Alaska 99603<br />
          <a href="http://www.alaskakayakschool.com" target="_blank">www.alaskakayakschool.com</a><br />
          E-mail: <a href="mailto:lpom@xyz.net" target="_blank">lpom@xyz.net</a><br />
        </address>
        <address>
          <strong>Ryan Collins</strong><br />
          Coach Level 3 Sea Trainee<br />
          Palmer Alaska<br />
          907 350 2259<br />
          E-mail: <a href="mailto:paddlersrealm@yahoo.com" target="_blank">paddlersrealm@yahoo.com</a><br />
        </address>
      </section>
      <section id="california">
        <h2>California</h2>
        <address>
          <strong>Anthea Rayond</strong><br />
          Coach Level 2 UKCC<br />
          Los Angeles, CA  90026<br />
          650 Maltman Avenue #D LA CA 90026<br />
          E-mail: <a href="mailto:anthea.raymond@sbcglobal.net" target="_blank">anthea.raymond@sbcglobal.net</a><br />
        </address>

        <address>
          <strong>Jennifer Kleck</strong><br />
          Coach Level 5 Sea, Coastal Navigation Provider, CST Assessor, L1 UKCC Tutor<br />
          1548 Quivira Way, San Diego, CA 92109<br />
          <a href="http://www.aqua-adventures.com" target="_blank">www.aqua-adventures.com</a><br />
          E-mail: <a href="mailto:info@aqua-adventures.com" target="_blank">info@aqua-adventures.com</a><br />
        </address>
        <address>
          <strong>Jeff Laxier</strong><br />
          Coach Level 3 Sea<br />
          Fort Bragg<br />
          (707)962-1623<br />
          E-mail: <a href="mailto:jeff@liquidfusionkayak.com" target="_blank">jeff@liquidfusionkayak.com</a><br />
          <a href="http://www.liquidfusionkayak.com" target="_blank">www.liquidfusionkayak.com</a><br />
        </address>
        <address>
          <strong>Matt Palmariello</strong><br />
          Coach Level 2 UKCC<br />
          Berkeley, CA  94710<br />
          <a href="mailto:mattpalmariello@gmail.com" target="_blank">mattpalmariello@gmail.com</a><br />
          603.548.7886<br />
        </address>
        <address>
          <strong>Debra Kettler</strong><br />
          Level 2 Coach<br />
          San Juan Capistrano, CA<br />
          949-678-5766<br />
          E-mail: <a href="mailto:socalkayakcoach@gmail.com" target="_blank">socalkayakcoach@gmail.com</a><br />
        </address>
      </section>
      <section id="connecticut">
        <h2>Connecticut</h2>
        <address>
          <strong>Greg Paquin</strong><br />
          Advanced Water Sea, AWE, Coach 3 Sea, #0577121509. (Old Coach 4), 5 Star Sea, 3 Star Open Canoe, Registered Assessor for Star Awards 2 Star – 4 Star<br />
          <a href="http://www.kayakwaveology.com" target="_blank">www.kayakwaveology.com</a><br />
          <a href="mailto:Coach@kayakwaveology.com" target="_blank">Coach@kayakwaveology.com</a><br />
          (860) 304-4000<br />
        </address>
      </section>
      <section id="florida">
        <h2>Florida</h2>
        <address>
          <strong>Russell Farrow</strong><br />
          Coach Level 3 Sea, A1, Canoe Safety Examiner<br />
          <a href="http://www.SweetwaterKayaks.com" target="_blank">www.SweetwaterKayaks.com</a><br />
          E-mail: <a href="mailto:theshop@sweetwaterkayaks.com" target="_blank">theshop@sweetwaterkayaks.com</a><br />
        </address>
        <address>
          <strong>Ed Lawlor</strong><br />
          Coach level 2 (UKCC)<br />
          New Port Richey<br />
          (727) 514-3850<br />
          <a href="http://www.peacelovepaddle.com" target="_blank">www.peacelovepaddle.com</a><br />
          <a href="mailto:Cetuskayaker@gmail.com" target="_blank">Cetuskayaker@gmail.com</a><br />
        </address>
        <address>
          <strong>Jean Totz</strong><br />
          Coach Level 3 Sea, Assessor A3 Kayak, Canoe Safety Examiner<br />
          Course Provider<br />
          <a href="http://www.SweetwaterKayaks.com" target="_blank">www.SweetwaterKayaks.com</a><br />
          E-mail:<a href="mailto:theshop@sweetwaterkayaks.com" target="_blank">theshop@sweetwaterkayaks.com</a><br />
        </address>
        <address>
          <strong>Michael Shugg</strong><br />
          Coach Level 2 (ukcc), Moderate Water Endorsement Sea<br />
          Orlando, Florida<br />
          <a href="http://www.adventurespiritkayaking.com" target="_blank">www.adventurespiritkayaking.com</a><br />
          E-mail: <a href="mailto:michael@adventurespiritkayaking.com" target="_blank">michael@adventurespiritkayaking.com</a><br />
        </address>
        <address>
          <strong>Chad Maynard</strong><br />
          Coach Level 2 (ukcc)<br />
          <a href="http://www.sweetwaterkayaks.com" target="_blank">www.sweetwaterkayaks.com</a><br />
          Saint Petersburg, Florida<br />
          (727) 570-4844<br />
          E-mail: <a href="mailto:valleykayakdude@gmail.com" target="_blank">valleykayakdude@gmail.com</a><br />
        </address>
      </section>
      <section id="georgia">
        <h2>Georgia</h2>
        <address>
          <strong>Ronnie Kemp</strong><br />
          Coach Level 3 Sea<br />
          <a href="http://www.canoecanoe.com" target="_blank">www.canoecanoe.com</a><br />
          E-mail: <a href="mailto:Info@SeaKayakGeorgia.com" target="_blank">info@SeaKayakGeorgia.com</a><br />
        </address>
        <address>
          <strong>Nigel Law</strong><br />
          Coach Level 3 Sea<br />
          <a href="http://www.savannahcanoeandkayak.com" target="_blank">www.savannahcanoeandkayak.com</a><br />
        </address>
      </section>
      <section id="illinois">
        <h2>Illinois</h2>
        <address>
          <strong>Alec Bloyd-Peshkin</strong><br />
          Midwest RCO<br />
          UKCC level 2T<br />
          Oak Park, IL. 60304<br />
          <a href="mailto:kayak.bp@gmail.com" target="_blank">kayak.bp@gmail.com</a></br />
        </address>
        <address>
          <strong>Sharon Bloyd-Peshkin</strong><br />
          UKCC level 2T<br />
          Oak Park, IL. 60304<br />
          <a href="mailto:kayak.bp@gmail.com" target="_blank">kayak.bp@gmail.com</a><br />
        </address>
        <address>
          <strong>Scott Fairty</strong><br />
          Coach Level 4 Sea, Assessor 4 Sea, Coach Level 3 Inland, Foundation Safety & Rescue Training Provider, Level 1 Course Director<br />
          Lansing, MI. 48906<br />
          <a href="http://www.scottfairty.com" target="_blank">www.scottfairty.com</a><br />
          E-mail: <a href="mailto:sfairty@genevakayak.com" target="_blank">scottfairty@gmail.com</a><br />
        </address>
        <address>
          <strong>John Martin</strong><br />
          Coach Level 3 Sea<br />
          Prospect Heights, IL 60070-0319<br />
          <a href="http://www.SeaKayakChicago.com" target="_blank">www.SeaKayakChicago.com</a><br />
          E-mail: <a href="mailto:John@SeaKayakChicago.com" target="_blank">John@SeaKayakChicago.com</a><br />
        </address>
        <address>
          <strong>Bonnie A. Perry</strong><br />
          Level 3 Sea, 3 Star Assessor Sea  Provider # 653, 5 Star Leader Sea, UKCC Level 3 Core Training, UKCC Level 1 Coach, 3 Star Canoe, Wilderness First Responder<br />
          Coach Level 3 Sea, 3 Star Sea Assessor, 5 Star Leader Sea<br />
          Chicago, IL 60640<br />
          Phone: (773) 315-9028<br />
          E-mail: <a href="mailto:bonnie@allsaintschicago.org" target="_blank">bonnie@allsaintschicago.org</a><br />
        </address>
        <address>
          <strong>Paul Redzimski</strong><br />
          Coach Level 3 Sea<br />
          <a href="http://www.genevakayak.com" target="_blank">www.genevakayak.com</a><br />
          E-mail: <a href="mailto:ckayaker11@gmail.com" target="_blank">ckayaker11@gmail.com</a><br />
        </address>
        <address>
          <strong>Lyn Stone</strong><br />
          Coach Level 1 ukcc, Level 2 Training ukcc<br />
          Chicago, IL<br />
          E-mail: <a href="mailto:lwstone@yahoo.com" target="_blank">lwstone@yahoo.com</a><br />
        </address>
        <address>
          <strong>Andrea Knepper</strong><br />
          Coach Level 2; L3 Core Training, 4 Star Leader Sea; 5 Star Trainee, 3 Star Open Canoe, 4 Star Trainee<br />
          Chicago Adventure Therapy<br />
          <a href="mailto:andrea@chicagoadventuretherapy.org" target="_blank">andrea@chicagoadventuretherapy.org</a><br />
        </address>
      </section>
      <section id="maine">
        <h2>Maine</h2>
        <address>
          <strong>Tom Bergh</strong><br />
          Coach Level 4 Sea, Assessor 4 Sea, L1 UKCC Director<br />
          <a href="http://www.maineislandkayak.com" target="_blank">www.maineislandkayak.com</a><br />
          E-mail: <a href="mailto:tom@maineislandkayak.com" target="_blank">tom@maineislandkayak.com</a><br />
        </address>
        <address>
          <strong>Mark S Schoon</strong><br />
          Coach Level 4 Sea, Assessor 3 Sea, Canoe Safety Assessor, FSRT<br />
          E-mail: <a href="mailto:mark@carpediemkayaking.com" target="_blank">mark@carpediemkayaking.com</a><br />
          <a href="http://www.carpediemkayaking.com" target="_blank">www.carpediemkayaking.com</a><br />
        </address>
        <address>
          <strong>Melinda Rice</strong><br />
          Coach Level 3 Sea Trainee, Canoe Safety Test Assessor<br />
          E-mail: <a href="mailto:Mel@carpediemkayaking.com" target="_blank">Mel@carpediemkayaking.com</a><br />
          <a href="http://www.carpediemkayaking.com" target="_blank">www.carpediemkayaking.com</a><br />
        </address>
        <address>
          <strong>John Carmody</strong><br />
          Coach Level 5 Sea, 5 Star Leader Sea Assessor<br />
          PO Box 657<br />
          Boothbay, ME 04537<br />
          <a href="http://www.seacliffkayakers.com" target="_blank">www.seacliffkayakers.com</a><br />
          E-mail: <a href="mailto:john.carmody@gmail.com" target="_blank">john.carmody@gmail.com</a><br />
        </address>
      </section>
      <section id="maryland">
        <h2>Maryland</h2>
        <address>
          <strong>Rick Wiebush</strong><br />
          Level 2 Sea, L3 Trainee<br />
          Baltimore, MD<br />
          410-788-1241<br />
          E-mail: <a href="mailto:rwiebush@gmail.com" target="_blank">rwiebush@gmail.com</a><br />
        </address>
      </section>
      <section id="massachusetts">
        <h2>Massachusetts</h2>
        <address>
          <strong>Kevin Beckwith</strong><br />
          Coach Level 1<br />
          16 High Street<br />
          Salem, MA 01970<br />
          <a href="http://www.rockpaddlesurf.com" target="_blank">www.rockpaddlesurf.com</a><br />
          E-mail: <a href="mailto:rpskayakcoaching@mac.com" target="_blank">rpskayakcoaching@mac.com</a><br />
        </address>
        <address>
          <strong>Julie Martin</strong><br />
          Coach Level 3 Trainee Sea Kayak, A1 Kayak<br />
          extracoastalkayak.com<br />
          E-Mail: <a href="mailto:julie@extracoastalkayak.com" target="_blank">julie@extracoastalkayak.com</a><br />
        </address>
        <address>
          <strong>Bob Clarke</strong><br />
          Coach Level 2, L3 Trainee<br />
          Gloucester, MA<br />
          E-mail: <a href="mailto:bclarke@alum.mit.edu" target="_blank">bclarke@alum.mit.edu</a><br />
        </address>
      </section>
      <section id="michigan">
        <h2>Michigan</h2>
        <address>
          <strong>Kelly Blades</strong><br />
          Coach Level 3, A3 Sea, Canoe Safety Test Examiner<br />
          E-mail: <a href="mailto:Kelly@kellyblades.com" target="_blank">Kelly@kellyblades.com</a><br />
          (313) 585-7125<br />
          29885 Glynn Lee Ct.<br />
          New Hudson, MI, 48165<br />
        </address>
        <address>
          <strong>Ron Smith</strong><br />
          Coach Level 3 Sea, Assessor A1 Kayak, Canoe Safety Examiner<br />
          P.O. Box 153, Hamburg, Michigan 48139<br />
          (734) 878-3689<br />
          E-Mail: <a href="mailto:Rsmith9999@aol.com" target="_blank">Rsmith9999@aol.com</a><br />
        </address>
        <address>
          <strong>Gary Balint</strong><br />
          Level 1 Coach, 3 Star Sea, 4 Star Sea Leader Trainee<br />
          Farmington Hills,Mi.<br />
          E-Mail: <a href="mailto:bgary165@att.net" target="_blank">bgary165@att.net</a><br />
        </address>
      </section>
      <section id="new-hampsire">
        <h2>New Hampshire</h2>
        <address>
          <strong>Jeff Brent</strong><br />
          Coach Level 2 Kayak<br />
          E-Mail: <a href="mailto:inuitpaddler@aol.com" target="_blank">inuitpaddler@aol.com</a><br />
        </address>
        <address>
          <strong>Jed Luby</strong><br />
          Coach Level 3 Sea, A1<br />
          Goffstown, NH 03045<br />
          603-321-9446<br />
          <a href="http://www.TeamNorthAtlantic.com" target="_blank">www.TeamNorthAtlantic.com</a><br />
        </address>
        <address>
          <strong>Bill Gwynn</strong><br />
          Coach Level 2 Kayak<br />
          Epping, NH 03042<br />
          <a href="http://www.kayakseamonkeys.com" target="_blank">www.kayakseamonkeys.com</a><br />
          E-Mail: <a href="mailto:bill@kayakseamonkeys.com" target="_blank">bill@kayakseamonkeys.com</a><br />
        </address>
      </section>
      <section id="new-jersey">
        <h2>New Jersey</h2>
        <address>
          <strong>Jack Phelan</strong><br />
          Coach Level 4 Sea, A4 Kayak, Canoe Safety Examiner, L1 UKCC Director<br />
          Scotch Plains, NJ<br />
          E-Mail: <a href="mailto:jackjphelan@gmail.com" target="_blank">jackjphelan@gmail.com</a><br />
        </address>
      </section>
      <section id="new-york">
        <h2>New York</h2>
        <address>
          <strong>Steven Maynard</strong><br />
          Coach Level 5 Sea, Level 3 inland, aspirant Level 3 surf, open canoe, L1 UKCC Director<br />
          East Coast RCO<br />
          <a href="http://www.stevemseakayak.com" target="_blank">www.stevemseakayak.com</a><br />
          E-mail: <a href="mailto:stevemseakayak@hotmail.com" target="_blank">stevemseakayak@hotmail.com</a><br />
        </address>
        <address>
          <strong>Taino Almestica</strong><br />
          Coach Level 3 Sea, Assessor 1<br />
          Manhattan, New York<br />
          <a href="http://www.tainokanoa.com" target="_blank">www.tainokanoa.com</a>/<br />
          E-mail: <a href="mailto:TainoKanoa@gmail.com" target="_blank">TainoKanoa@gmail.com</a><br />
        </address>
        <address>
          <strong>Tim Gamble</strong><br />
          Coach Level 3 Sea<br />
          Pier 40, South Side, W. Houston and West Street, New York, NY 10014<br />
          <a href="http://www.nykayak.com" target="_blank">www.nykayak.com</a><br />
          E-Mail: <a href="mailto:tgamble@syllog.com" target="_blank">tgamble@syllog.com</a><br />
        </address>
        <address>
          <strong>Alan Mapes</strong><br />
          Level 2 Trainee (ukcc)<br />
          Delmar, NY<br />
          E-mail: <a href="mailto:alanmapes@gmail.com" target="_blank">alanmapes@gmail.com</a><br />
        </address>
        <address>
          <strong>Warren Parker</strong><br />
          Coach Level 3 Sea, A1<br />
          New York, N.Y.<br />
          http://kayakermedic.blogspot.com<br />
          E-mail: <a href="mailto:wrpj@msn.com" target="_blank">wrpj@msn.com</a><br />
        </address>
        <address>
          <strong>Sid Stone</strong><br />
          Coach Level 3 Sea, Canoe Safety Assessor<br />
          Millwood, NY<br />
          E-mail: <a href="mailto:sid@snstone.com" target="_blank">sid@snstone.com</a><br />
        </address>
        <address>
          Andrea Vaillancourt-Alder<br />
          L2 coach, 3 star sea<br />
          (716) 392-2708<br />
          <a href="http://www.seabirds.co" target="_blank">www.seabirds.co</a><br />
        </address>
      </section>
      <section id="north-carolina">
        <h2>North Carolina</h2>
        <address>
          <strong>Lamar Hudgens</strong><br />
          Swansboro, NC<br />
          Coach Level 4 Sea, Assessor A1* Sea<br />
          (252) 393-6457<br />
          E-Mail: <a href="mailto:dolphin@coastalnet.com" target="_blank">dolphin@coastalnet.com</a><br />
          <a href="http://www.barrierislandkayaks.com" target="_blank">www.barrierislandkayaks.com</a><br />
        </address>
      </section>
      <section id="oregon">
        <h2>Oregon</h2>
        <address>
          <strong>Karl Andersson</strong><br />
          Coach Level 4 Sea, A3 Sea, Canoe Safety Assessor, FSRT provider<br />
          1544 SE 46th Ave Portland, OR, 97215<br />
          <a href="http://www.aldercreek.com" target="_blank">www.aldercreek.com</a><br />
          E-Mail: <a href="mailto:otterslide@aol.com" target="_blank">otterslide@aol.com</a><br />
        </address>
        <address>
          <strong>Bob Baltazar</strong><br />
          Coach Level 2<br />
          West Linn, OR<br />
          E-Mail: <a href="mailto:bb23505@yahoo.com" target="_blank">bb23505@yahoo.com</a><br />
        </address>
        <address>
          <strong>Daniel Haghighi</strong><br />
          Coach Level 3 Sea<br />
          2953 Laurel Rd<br />
          Longview, Washington 98632<br />
          E-mail: <a href="mailto:dna999@adelphia.net" target="_blank">dna999@adelphia.net</a><br />
          360-414-4350<br />
        </address>
        <address>
          <strong>Paul Kuthe</strong><br />
          Coach Level 3 Whitewater, 5 Star Sea Leader<br />
          250 NE Tomahawk Island Dr.<br />
          Portland, Or. 97217<br />
          (503) 285-0464<br />
          E-mail: <a href="mailto:programs@aldercreek.com" target="_blank">programs@aldercreek.com</a><br />
        </address>
        <address>
          <strong>Jonathan Walpole</strong><br />
          Coach Level 4 Sea, A1* Sea, Canoe Safety Assessor<br />
          11160 S.W. Goldfinch Terrace, Beaverton, OR 97007<br />
          <a href="http://www.cse.ogi.edu" target="_blank">www.cse.ogi.edu</a>/~walpole/kayaking.html<br />
          E-Mail: <a href="mailto:walpole@cse.ogi.edu" target="_blank">walpole@cse.ogi.edu</a><br />
        </address>
      </section>
      <section id="rhode-island">
        <h2>Rhode Island</h2>
        <address>
          <strong>Peter Casson</strong><br />
          Level 4 Sea, Level 3 Inland Kayak, Assessor 3 Sea, Asessor 1* Inland Kayak, Canoe Safety Assessor<br />
          Course Provider<br />
          E-mail: <a href="mailto:pcasson@ems.com" target="_blank">pcasson@ems.com</a><br />
        </address>
      </section>
      <section id="south-carolina">
        <h2>South Carolina</h2>
        <address>
          <strong>Lance Elzie</strong><br />
          520 Folly Rd., Charleston, SC 29412<br />
          843.830.4935<br />
          E-Mail: <a href="mailto:lance@oceanairseakayak.com" target="_blank">lance@oceanairseakayak.com</a><br />
          <a href="http://www.oceanairseakayak.com" target="_blank">www.oceanairseakayak.com</a><br />
        </address>
      </section>
      <section id="texas">
        <h2>Texas</h2>
        <address>
          <strong>Mark White</strong><br />
          Coach Level 3 Sea Trainee, Canoe Safety Assessor<br />
          <a href="http://www.lunaseakayaks.com" target="_blank">www.lunaseakayaks.com</a><br />
          Austin, TX<br />
          E-Mail: <a href="mailto:mark@lunaseakayaks.com" target="_blank">mark@lunaseakayaks.com</a><br />
        </address>
        <address>
          <strong>Steven Ulrich</strong><br />
          UKCC Coach Level 2 Trainee<br />
          Houston, TX<br />
          E-Mail: <a href="mailto:sulrich.tx@gmail.com" target="_blank">sulrich.tx@gmail.com</a><br />
        </address>
      </section>
      <section id="vermont">
        <h2>Vemont</h2>
        <address>
          <strong>Todd A. Johnstone-Wright</strong><br />
          Coach Level 5 Sea, FSRT Provider, 4 Star Sea Provider<br />
          Saint Michael's College<br />
          Wilderness Program<br />
          324 One Winooski Park<br />
          Colchester, Vermont 05439<br />
          E-mail: <a href="mailto:twright@smcvt.edu" target="_blank">twright@smcvt.edu</a><br />
          Office: 802.654.2614<br />
          Mobile: 802.238.6664<br />
          <a href="http://www.smcvt.edu" target="_blank">www.smcvt.edu/wilderness</a><br />
        </address>
        <address>
          <strong>Dovid Yagoda</strong><br />
          Coach Level 3 Sea, Canoe Safety Assessor<br />
          25 Nash Place<br />
          Burlington VT 05401<br />
          E-mail: <a href="mailto:info@vermontkayak.com" target="_blank">info@vermontkayak.com</a><br />
        </address>
      </section>
      <section id="virginia">
        <h2>Virginia/Washington, DC</h2>
        <address>
          <strong>Bob Gasser</strong><br />
          Level 1<br />
          Vienna, Virginia  22182<br />
          E-mail: <a href="mailto:gasserra@verizon.net" target="_blank">gasserra@verizon.net</a><br />
        </address>
        <address>
          <strong>Kevin Black</strong><br />
          Coach Level 3 See Trainee, Assessor 1<br />
          9737 Pine Forest Road, Bent Mountain, Virginia 24059<br />
          E-mail: <a href="mailto:kblackch10@aol.com" target="_blank">kblackch10@aol.com</a><br />
        </address>
        <address>
          <strong>Tom Nickels</strong><br />
          Coach Level 3 Sea<br />
          E-Mail: <a href="mailto:bcucoach@comcast.net" target="_blank">bcucoach@comcast.net</a><br />
          <a href="http://www.riverwindkayak.com" target="_blank">www.riverwindkayak.com</a><br />
          (843) 817-3138<br />
        </address>
      </section>
      <section id="washington">
        <h2>Washington</h2>
        <address>
         <strong> </strong>John Wallum
          RCO West Coast
          Phone: (360) 699-6447
          Level 4 Sea, Assessor 1
        </address>
        <address>
          <strong>Rob Avery</strong><br />
          Coach Level 3 Sea, 4 Star Sea Assessor, FSRT Provider, Coastal Navigation and Tidal Planning Provider<br />
          Bainbridge Island, WA<br />
          206-661-3745<br />
          <a href="http://www.kayakkraft.com" target="_blank">www.kayakkraft.com</a><br />
          E-mail: <a href="mailto:rob@kayakkraft.com" target="_blank">rob@kayakkraft.com</a><br />
        </address>
        <address>
          <strong>Ginni Callahan</strong><br />
          Coach Level 4 Sea, 4 Star Sea assessor, FSRT Provider, and Coastal Nav provider<br />
          Cathlamet, WA<br />
          360-560-3999<br />
          <a href="http://www.columbiariverkayaking.com" target="_blank">www.columbiariverkayaking.com</a><br />
          E-mail: <a href="mailto:ginnical@yahoo.com" target="_blank">ginnical@yahoo.com</a><br />
        </address>
        <address>
          <strong>Don Cheyette</strong><br />
          Coach Level 2 (UKCC)<br />
          Seattle, WA<br />
          E-mail: <a href="mailto:donaldcheyette@gmail.com" target="_blank">donaldcheyette@gmail.com</a><br />
        </address>
        <address>
          <strong>Shawna Franklin</strong><br />
          Coach Level 4 Sea, Assessor 4 Sea, L1, L2 UKCC Director, FSRT Provider<br />
          <a href="http://www.BodyBoatBlade.com" target="_blank">www.BodyBoatBlade.com</a><br />
          E-mail: <a href="mailto:info@bodyboatblade.com" target="_blank">info@bodyboatblade.com</a><br />
          (360) 376-5388<br />
        </address>
        <address>
          <strong>Teresa Flodin</strong><br />
          UKCC Coach Level 2<br />
          Bellingham, WA<br />
          360-707-1169<br />
        </address>
        <address>
          <strong>George Gronseth</strong><br />
          Coach Level 1<br />
          Issaquah Washington 98027<br />
          E-mail: <a href="mailto:george@kayakacademy.com" target="_blank">george@kayakacademy.com</a><br />
          <a href="http://www.kayakacademy.com" target="_blank">www.kayakacademy.com</a><br />
        </address>
        <address>
          <strong>Barbara Sherrill Gronseth</strong><br />
          Coach Level 1<br />
          Issaquah Washington 98027<br />
          E-mail: <a href="mailto:barb@kayakacademy.com" target="_blank">barb@kayakacademy.com</a><br />
          <a href="http://www.kayakacademy.com" target="_blank">www.kayakacademy.com</a><br />
        </address>
        <address>
          <strong>Ed Hand</strong><br />
          Coach Level 2 (UKCC), Moderate Water Endorsement Sea Kayak<br />
          Renton, WA<br />
          <a href="http://www.roguewaveadventures.com" target="_blank">www.roguewaveadventures.com</a><br />
          E-mail: <a href="mailto:ed.hand@ymail.com" target="_blank">ed.hand@ymail.com</a><br />
        </address>
        <address>
          <strong>John LaMunyon</strong><br />
          Coach Level 2 (UKCC)<br />
          Issaquah, WA<br />
          <a href="http://www.kayakacademy.com" target="_blank">www.kayakacademy.com</a><br />
          E-mail: <a href="mailto:jalamunyon@msn.com" target="_blank">jalamunyon@msn.com</a><br />
          Phone 425-985-5270<br />
        </address>
        <address>
          <strong>Chris Mitchell</strong><br />
          Coach Level 4 Sea<br />
          <a href="http://www.secondwindsports.net" target="_blank">www.secondwindsports.net</a><br />
          E-mail: <a href="mailto:chris@secondwindsports.net" target="_blank">chris@secondwindsports.net</a><br />
        </address>
        <address>
          <strong>Henry Romer</strong><br />
          Coach Level 3 Sea Trainee<br />
          Olympia, WA<br />
          Phone 360-480-0357<br />
          E-mail: <a href="mailto:hromer@aol.com" target="_blank">hromer@aol.com</a><br />
        </address>
        <address>
          <strong>Matthew Ross</strong><br />
          Coach Level 2 Kayak, Coach Level 3 Sea Trainee<br />
          <a href="http://www.seakayakshop.com" target="_blank">www.seakayakshop.com</a><br />
          Phone 866-445-7506<br />
          Email: <a href="mailto:programdirector@seakayakshop.com" target="_blank">programdirector@seakayakshop.com</a><br />
        </address>
        <address>
          <strong>Leon Somme&apos;</strong><br />
          Coach Level 4 Sea, Assessor 4 Sea, L1, L2 UKCC Director, FSRT Provider<br />
          <a href="http://www.BodyBoatBlade.com" target="_blank">www.BodyBoatBlade.com</a><br />
          phone (360) 376-5388<br />
          E-mail: <a href="mailto:info@bodyboatblade.com" target="_blank">info@bodyboatblade.com</a><br />
        </address>
        <address>
          <strong>Rhonda G. Schwab</strong><br />
          Coach Level 2 Kayak<br />
          3620 Scenic Dr. SE<br />
          Washington, 98092<br />
          E-mail: <a href="mailto:rhondagschwab@comcast.net" target="_blank">rhondagschwab@comcast.net</a><br />
        </address>
        <address>
          <strong>David Thompson</strong><br />
          Coach Level 1, Level 2 trainee<br />
          Orcas Island, WA<br />
          406-581-0041<br />
          E-mail: <a href="mailto:david@altakayak.com" target="_blank">david@altakayak.com</a><br />
        </address>
        <address>
          <strong>Les Uhrich</strong><br />
          Coach Level 4 sea, A1* Kayak, Canoe Safety Examiner<br />
          <a href="http://www.kayakers.net" target="_blank">www.kayakers.net</a><br />
          E-mail: <a href="mailto:les@kayakers.net" target="_blank">les@kayakers.net</a><br />
        </address>
        <address>
          <strong>Terry Miller</strong><br />
          Coach Level 2 kayak<br />
          Olympia, Washington<br />
          <a href="http://www.southsoundkayak.com" target="_blank">www.southsoundkayak.com</a><br />
          E-mail: <a href="mailto:sskkayak@yahoo.com" target="_blank">sskkayak@yahoo.com</a><br />
        </address>
        <address>
          <strong>Mark Whitaker</strong><br />
          UKCC L2, Moderate Water Endorsement<br />
          Skamokawa, WA<br />
          360-747-1044<br />
          <a href="http://www.columbiariverkayaking.com" target="_blank">www.columbiariverkayaking.com</a><br />
          E-mail:<a href="mailto:mark@columbiariverkayaking.com" target="_blank">mark@columbiariverkayaking.com</a><br />
        </address>
      </section>
      <section id="wisconsin">
        <h2>Wisconsin</h2>
        <address>
          <strong>Brian Day</strong><br />
          Coach Level 3 Sea, Assessor 1<br />
          1818 Fisher St., Madison, WI 53713<br />
          E-mail: <a href="mailto:yakjockey@aol.com" target="_blank">yakjockey@aol.com</a><br />
        </address>
        <address>
          <strong>Doug Liphart</strong><br />
          Coach Level 4, Assessor 4 Sea, Canoe Safety Examiner<br />
          24395 Forest Road 245<br />
          Ashland, WI 54806<br />
          E-mail: <a href="mailto:lipreed@cheqnet.net" target="_blank">lipreed@cheqnet.net</a><br />
        </address>
        <address>
          <strong>Scott Nesvold</strong><br />
          Coach Level 3 Sea, Assessor 1, Canoe Safety Assessor<br />
          27760 Cty Hwy C Washburn, WI 54891<br />
          E-mail: <a href="mailto:scott.nesvold@gmail.com" target="_blank">scott.nesvold@gmail.com</a><br />
          <a href="http://www.trek-trail.com" target="_blank">www.trek-trail.com</a><br />
        </address>
      </section>
      <section id="canada">
        <h2>Canada</h2>
        <address>
          <strong>Michael Callaghan</strong><br />
          Level 1 Coach<br />
          E-mail :  <a href="mailto:peakwavekayaking@gmail.com" target="_blank">peakwavekayaking@gmail.com</a><br />
          Vancouver, BC<br />
        </address>
        <address>
          <strong>Darren Moloney</strong><br />
          Coach Level 2 Kayak<br />
          e-mail: just.addwater@yahoo.ca<br />
          Parksville, B.C., Canada<br />
        </address>
        <address>
          <strong>Christine Garcia</strong><br />
          Coach Level 2 Kayak<br />
          E-mail: just.addwater@yahoo.ca<br />
          Parksville, B.C., Canada<br />
        </address>
        <address>
          <strong>Joe Dicks</strong><br />
          Coach Level 3 Sea, Assessor 1 Sea<br />
          <a href="http://www.explorenewfoundland.com" target="_blank">www.explorenewfoundland.com</a><br />
          E-Mail: <a href="mailto:Joe@explorenewfoundland.com" target="_blank">Joe@explorenewfoundland.com</a><br />
          P. O. Box 63<br />
          Corner Brook, NFLD, Canada<br />
        </address>
        <address>
         <strong>Pauline Halstead</strong><br />
          Coach Level 2 Kayak<br />
          Abilities in Motion,<br />
          <a href="http://www.abilitiesinmotion.ca" target="_blank">www.abilitiesinmotion.ca</a>
          Toronto, ON, Canada<br />
          E-mail: <a href="mailto:info@abilitiesinmotion.ca" target="_blank">info@abilitiesinmotion.ca</a><br />
        </address>
        <address>
          <strong>Christopher Lockyer</strong><br />
          Level 4 coach A1*<br />
          www.committed2thecore.com<br />
          E-Mail: Christopher@committed2thecore.com<br />
          Nova Scotia, Canada<br />
        </address>
        <address>
          <strong>Bryan Smith</strong><br />
          Course Provider<br />
          Coach Level 4 Sea, Level 3 Inland, Assessor 3<br />
          E-mail: <a href="mailto:gradientseeker@gmail.com" target="_blank">gradientseeker@gmail.com</a><br />
          Squamish, BC, Canada<br />
        </address>
        <address>
          <strong>Jacques Coulombe</strong><br />
          Level 1 Coach<br />
          6815 Belanger Street<br />
          Montreal, QC  H1M 3E9<br />
          www.kayakdemer.ca<br />
          E-mail: jcoulombe@kayakdemer.ca<br />
        </address>
      </section>
      <section id="mexico">
        <h2>Mexico</h2>
        <address>
          <strong>Ginni Callahan</strong><br />
          Coach Level 4 Sea, 4 Star Sea Assessor, FSRT Provider, and Coastal Nav provider<br />
          Cathlamet, WA<br />
          360-560-3999<br />
          <a href="http://www.columbiariverkayaking.com" target="_blank">www.columbiariverkayaking.com</a><br />
          E-mail: <a href="mailto:ginnical@yahoo.com" target="_blank">ginnical@yahoo.com</a><br />
        </address>
      </section>
    </div>

    <div class="col-md-2 com-md-offset-1" data-hook="sidenav">
      <!-- right side nav -->
      <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276" data-offset-bottom="360">
        <ul class="nav">
          <li><a href="#rco">Regional Coaching Officers</a></li>
          <li><a href="#california">California</a></li>
          <li><a href="#connecticut">Connecticut</a></li>
          <li><a href="#florida">Florida</a></li>
          <li><a href="#georgia">Georgia</a></li>
          <li><a href="#illinois">Illinois</a></li>
          <li><a href="#maine">Maine</a></li>
          <li><a href="#maryland">Maryland</a></li>
          <li><a href="#massachusetts">Masachusetts</a></li>
          <li><a href="#michigan">Michigan</a></li>
          <li><a href="#new-hampsire">New Hampsire</a></li>
          <li><a href="#new-jersey">New Jersey</a></li>
          <li><a href="#new-york">New York</a></li>
          <li><a href="#north-carolina">North Carolina</a></li>
          <li><a href="#oregon">Oregon</a></li>
          <li><a href="#rhode-island">Rhode Island</a></li>
          <li><a href="#south-carolina">South Carolina</a></li>
          <li><a href="#texas">Texas</a></li>
          <li><a href="#vermont">Vermont</a></li>
          <li><a href="#virginia">Virginia</a></li>
          <li><a href="#washington">Washington</a></li>
          <li><a href="#wisconsin">Wisconsin</a></li>
          <li><a href="#canada">Canada</a></li>
          <li><a href="#mexico">Mexico</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
