<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A Message From <%= @message.name %></h1>
    <p><strong>Reply To:</strong> <%= @message.email %></p>
    <%= raw( @message.content ) %>
  </body>
</html>
