/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

/* PNA colors */
$pna-dark: #4C4D4F;
$pna-med: #8A807F;
$pna-med-light: #E7E7E7;
$pna-light: #FFF;
$pna-orange: #F06F13; //#FF7614;
$pna-blue: #24b3e3; //#7cc9e3; //#6c91c6; //#2F70D5;

$brand-primary: $pna-blue;
$brand-secondary: $pna-orange;
$body-bg: $pna-light;
$text-color: $pna-dark;
$link-hover-color: $brand-secondary;

$grid-float-breakpoint: 992px;

$border-radius-base: 0px;

@import "bootstrap";
@import "navbar";
@import "sidenav";
@import "jumbotron";
@import "footer";
@import "home";
@import "about";
@import "landing";

body { padding-top: 86px;}

h3, h4 {
  border-bottom: 1px solid $brand-secondary;
  padding-bottom: 4px;
}
h3 {
  margin-top: 35px;
}
img.home-promo { margin-bottom: 20px; }
.body-copy {
  margin-top: 40px;
}

.sponsor {
  margin-bottom: 20px;
}

.leftrail {
  text-align: right;
  p {
    margin-bottom: 40px;
  }
}

.img-inline-responsive {
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 86px;
  margin-top: -86px;
  margin-bottom: 52px;
}

span.section {
  margin-top: -83px;
  padding-top: 83px;
  display: block;
}

.lead {
  letter-spacing: 1px;
}
.semi-lead {
  @extend .lead;
  font-size: 18px;
}

@media (max-width: $screen-md-max) {
  body { padding-top: 75px; }
}

@media (max-width: $grid-float-breakpoint ) {
  body { padding-top: 51px; }
}

@media (max-width: $screen-sm-max) {
  .leftrail {
    text-align: left;
    padding-right: 10px;
  }

  .leftrail:first-child {
    margin-top: 0px;
  }

  table {
    display: block;
    width: 100%;
    border: 0;
    caption { display: block; }
    thead {
      display: none;
      visibility: hidden;
    }
    tbody, tr, th, td {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    tr {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold;
    }

    td:empty {
      display: none;
    }
  }
}








