// Place all the styles related to the coaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coaches {
  h5 {
    margin-top: 3px;
  }
}

.coach {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #DDD;

  ul.qualifications {
    list-style: none;
    padding: 0;
    font-style: italic;
  }
  
}

.coach:last-child {
  border: none;
}

