footer {
  margin-top: 40px;
  background: #585f69;
  color: $pna-light;
  padding-top: 20px;
  padding-bottom: 50px;
  a { color: $brand-primary; }
  .media .glyphicon {
    font-size: 32px;
  }
  h5 {
    // border-bottom: solid 1px $pna-blue;
    a { color: $pna-light; }
    a:hover { text-decoration: none; }
  }

  .social { margin-top: 10px; }
  .sponsor-footer {
    .row { margin-bottom: 15px;}
  }

  .bc-footer {
    border-top: 1px dashed lighten( #585f69, 10% );
    p { margin-top: 34px;}
  }
}

.subfooter {
  background: #383d43;
  padding: 20px 0;
  border-top: $pna-med 1px solid;
  p {
    color: $brand-primary;
    padding: 0;
  }
  p.small {
      color: $pna-light;
    }
}
