<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Keep in Touch</h4>
        <p>Sign up for the PNA newsletter to stay up to date on important news and events.</p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-ok"></span></button>
            </span>
          </div><!-- /input-group -->
        </form>

        <ul class="list-inline social">
          <li><%= link_to image_tag( 'icn_fb.gif'), '#' %></li>
          <li><%= link_to image_tag( 'icn_gplus.gif'), '#' %></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h4>Latest News</h4>
        <div class="media">
          <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-calendar"></span>
          </a>
          <div class="media-body">
            <h5 class="media-heading"><a href="#">News heading</a></h5>
            <p>Nam ullamcorper tincidunt urna, nec elementum libero pretium eget. Donec eu elit ac mauris mattis egestas. Phasellus lacinia leo eu rhoncus venenatis.</p>
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-info-sign"></span>
          </a>
          <div class="media-body">
            <h5 class="media-heading"><a href="#">News heading</a></h5>
            <p>Nam ullamcorper tincidunt urna, nec elementum libero pretium eget. Donec eu elit ac mauris mattis egestas. Phasellus lacinia leo eu rhoncus venenatis.</p>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <h4>Contact Info</h4>
        <p>Paddlesports North America, Inc.<br />
           P.O. Box 477<br />
           Keeseville, NY 12944</p>

        <p><a href="#">info@paddlesportsnorthamerica.com</a></p>
      </div>
    </div>
  </div>
</footer>

<div class="subfooter">
  <div class="container">
    &copy; 2014 Paddlesports North America
  </div>
</div>
